@media only screen and (min-width: 320px) and (max-width: 570px) {
    .first {
        display: flex;
        padding-left: 0px;
    }
    .timer {
        position: fixed;
    }
    .card {
        margin-left: 10px;
        width: 67px;
        height: 90px;
    }
    .cards {
        width: 73px;
        height: 102px;
    }
}